<div class="where-is-my-friends-container">
  <div class="where-is-my-friends-header">
    <h1>{{i18n "where_is_my_friends.title"}}</h1>
    <p>{{i18n "where_is_my_friends.description"}}</p>
  </div>

  {{#if this.error}}
    <div class="alert alert-error">
      <i class="fa fa-exclamation-triangle"></i>
      {{{this.error}}}
    </div>
  {{/if}}

  {{#if this.debugInfo}}
    <div class="alert alert-info">
      <details>
        <summary><i class="fa fa-bug"></i> 调试信息（点击展开）</summary>
        <pre>{{this.debugInfo}}</pre>
      </details>
    </div>
  {{/if}}

  {{#if this.loading}}
    <div class="alert alert-info">
      <i class="fa fa-spinner fa-spin"></i>
      {{i18n "where_is_my_friends.getting_location"}}
    </div>
  {{/if}}

  <!-- 位置模式选择对话框 -->
  {{#if this.showLocationModeDialog}}
    <div class="modal-backdrop">
      <div class="location-mode-dialog">
        <div class="dialog-header">
          <h3><i class="fa fa-map-marker-alt"></i> {{i18n "where_is_my_friends.choose_location_mode"}}</h3>
          <p>{{i18n "where_is_my_friends.privacy_intro"}}</p>
        </div>
        
        <div class="location-options">
          <div class="location-option real-location" {{action "selectRealLocation"}}>
            <div class="option-icon">
              <i class="fa fa-location-arrow"></i>
            </div>
            <div class="option-content">
              <h4>{{i18n "where_is_my_friends.real_location"}}</h4>
              <p>{{i18n "where_is_my_friends.real_location_desc"}}</p>
              <div class="option-pros">
                <span class="pro"><i class="fa fa-check"></i> {{i18n "where_is_my_friends.location_accurate"}}</span>
                <span class="pro"><i class="fa fa-check"></i> {{i18n "where_is_my_friends.auto_obtain"}}</span>
              </div>
            </div>
          </div>
          
          <div class="location-option virtual-location" {{action "selectVirtualLocation"}}>
            <div class="option-icon">
              <i class="fa fa-map"></i>
            </div>
            <div class="option-content">
              <h4>{{i18n "where_is_my_friends.virtual_location"}}</h4>
              <p>{{i18n "where_is_my_friends.virtual_location_desc"}}</p>
              <div class="option-pros">
                <span class="pro"><i class="fa fa-check"></i> {{i18n "where_is_my_friends.privacy_protection"}}</span>
                <span class="pro"><i class="fa fa-check"></i> {{i18n "where_is_my_friends.free_choice"}}</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="dialog-footer">
          <button class="btn btn-default" {{action (mut this.showLocationModeDialog) false}}>
            <i class="fa fa-times"></i>
            {{i18n "where_is_my_friends.cancel"}}
          </button>
        </div>
      </div>
    </div>
  {{/if}}

  <!-- 虚拟位置选择器 -->
  {{#if this.showVirtualLocationPicker}}
    <div class="modal-backdrop">
      <div class="virtual-location-modal">
        {{virtual-location-picker
          settings=this.model.settings
          onConfirm=(action "onVirtualLocationConfirm")
          onCancel=(action "onVirtualLocationCancel")
        }}
      </div>
    </div>
  {{/if}}

  <div class="where-is-my-friends-content">
    {{#if this.currentUser.location}}
      <div class="location-status">
        <div class="alert alert-success">
          <i class="fa fa-map-marker-alt"></i>
          {{#if this.currentUser.location.is_virtual}}
            {{i18n "where_is_my_friends.virtual_location_set"}}
            {{#if this.currentUser.location.virtual_address}}
              <div class="virtual-address">
                <small><i class="fa fa-map"></i> {{this.currentUser.location.virtual_address}}</small>
              </div>
            {{/if}}
          {{else}}
            {{i18n "where_is_my_friends.location_shared"}}
          {{/if}}
        </div>
        
        <div class="location-actions">
          <button class="btn btn-primary" {{action "findNearbyUsers"}} disabled={{this.loading}}>
            <i class="fa fa-search"></i>
            {{#if this.loading}}
              {{i18n "where_is_my_friends.searching_nearby"}}
            {{else}}
              {{i18n "where_is_my_friends.find_nearby"}}
            {{/if}}
          </button>
          
          <button class="btn btn-danger" {{action "removeLocation"}}>
            <i class="fa fa-trash"></i>
            {{i18n "where_is_my_friends.remove_location"}}
          </button>
        </div>
      </div>
    {{else}}
      <div class="location-setup">
        <div class="alert alert-info">
          <i class="fa fa-info-circle"></i>
          {{#if this.siteSettings.where_is_my_friends_enable_virtual_location}}
            {{i18n "where_is_my_friends.location_mode_prompt"}}
          {{else}}
            {{i18n "where_is_my_friends.share_location_prompt"}}
          {{/if}}
        </div>
        
        <button class="btn btn-primary btn-large" {{action "shareLocation"}} disabled={{this.loading}}>
          <i class="fa fa-map-marker-alt"></i>
          {{#if this.loading}}
            {{i18n "where_is_my_friends.getting_location"}}
          {{else}}
            {{#if this.siteSettings.where_is_my_friends_enable_virtual_location}}
              {{i18n "where_is_my_friends.choose_location_mode_button"}}
            {{else}}
              {{i18n "where_is_my_friends.share_location"}}
            {{/if}}
          {{/if}}
        </button>
        
        <button class="btn btn-secondary" {{action "checkPermissions"}}>
          <i class="fa fa-shield-alt"></i>
          {{i18n "where_is_my_friends.check_permissions"}}
        </button>
        
        {{#if this.permissionStatus}}
          <div class="permission-status">
            <p><strong>{{i18n "where_is_my_friends.permission_status"}}：</strong> {{this.permissionStatus}}</p>
          </div>
        {{/if}}
        
        <div class="location-tips">
          <h4><i class="fa fa-lightbulb"></i> {{i18n "where_is_my_friends.location_tips_title"}}</h4>
          <ul>
            {{#if this.siteSettings.where_is_my_friends_enable_virtual_location}}
              <li><strong>{{i18n "where_is_my_friends.real_location"}}：</strong>{{i18n "where_is_my_friends.real_location_tip"}}</li>
              <li><strong>{{i18n "where_is_my_friends.virtual_location"}}：</strong>{{i18n "where_is_my_friends.virtual_location_tip"}}</li>
              <li>{{i18n "where_is_my_friends.recommend_virtual"}}</li>
            {{else}}
              <li>{{i18n "where_is_my_friends.real_location_auto_tip"}}</li>
              <li>{{i18n "where_is_my_friends.indoor_tip"}}</li>
              <li>{{i18n "where_is_my_friends.location_service_tip"}}</li>
              <li>{{i18n "where_is_my_friends.chrome_tip"}}</li>
            {{/if}}
          </ul>
        </div>
      </div>
    {{/if}}

    {{#if this.nearbyUsers}}
      <div class="nearby-users">
        <div class="users-header">
          <div class="users-title">
            <h3>{{i18n "where_is_my_friends.nearby_users"}} ({{this.nearbyUsers.length}})</h3>
          </div>
        </div>
        
        <div class="users-list">
          {{#each this.nearbyUsers as |userData|}}
            <div class="user-card {{if userData.isCurrentUser 'current-user'}} {{if userData.is_online 'online'}}">
              <div class="user-avatar">
                <a href="/u/{{userData.username}}">
                  {{avatar userData imageSize="large"}}
                </a>
                {{#if userData.isCurrentUser}}
                  <div class="current-user-badge">
                    <i class="fa fa-user"></i>
                  </div>
                {{/if}}
                {{#if userData.is_online}}
                  <div class="online-badge" title="{{i18n 'where_is_my_friends.user_online'}}">
                    <i class="fa fa-circle"></i>
                  </div>
                {{/if}}
              </div>
              
              <div class="user-info">
                <div class="user-header">
                  <div class="username">
                    <a href="/u/{{userData.username}}">{{userData.username}}</a>
                    {{#if userData.isCurrentUser}}
                      <span class="current-user-label">(您)</span>
                    {{/if}}
                  </div>
                  
                  <div class="user-meta">
                    {{#if userData.gender}}
                      <div class="user-gender {{if (eq userData.gender "male") "gender-male" (if (eq userData.gender "female") "gender-female" "gender-other")}}">
                        {{#if (eq userData.gender "male")}}
                          <i class="fa fa-mars"></i>
                          男
                        {{else if (eq userData.gender "female")}}
                          <i class="fa fa-venus"></i>
                          女
                        {{else}}
                          <i class="fa fa-genderless"></i>
                          {{userData.gender}}
                        {{/if}}
                      </div>
                    {{/if}}
                  </div>
                </div>
                
                <div class="location-info">
                  <div class="distance">
                    <i class="fa fa-map-marker-alt"></i>
                    {{userData.location_display_name}}
                    {{#if userData.is_virtual}}
                      <span class="virtual-badge" title="{{i18n 'where_is_my_friends.using_virtual_location'}}">
                        <i class="fa fa-shield-alt"></i>
                      </span>
                    {{/if}}
                  </div>
                </div>
                
                {{#if userData.bio}}
                  <div class="user-bio">
                    <i class="fa fa-quote-left"></i>
                    <span class="bio-text">{{userData.bio}}</span>
                  </div>
                {{/if}}
                
                {{#if userData.user_fields}}
                  <div class="user-attributes">
                    {{#each-in userData.user_fields as |key value|}}
                      <span class="attribute-tag">
                        <strong>{{key}}:</strong> {{value}}
                      </span>
                    {{/each-in}}
                  </div>
                {{/if}}
                
                <div class="user-footer">
                  {{#if userData.last_seen_at}}
                    <div class="last-seen">
                      <i class="fa fa-clock-o"></i>
                      {{#if userData.is_online}}
                        <span class="online-text">在线</span>
                      {{else}}
                        最后在线: {{format-date userData.last_seen_at}}
                      {{/if}}
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        
        {{#unless this.nearbyUsers.length}}
          <div class="no-users-found">
            <p><i class="fa fa-info-circle"></i> {{i18n "where_is_my_friends.no_users_found_range"}}</p>
          </div>
        {{/unless}}
      </div>
    {{/if}}
  </div>
</div> 