<div class="where-is-my-friends-container">
  <div class="where-is-my-friends-header">
    <h1>{{i18n "where_is_my_friends.title"}}</h1>
    <p>{{i18n "where_is_my_friends.description"}}</p>
  </div>

  {{#if error}}
    <div class="alert alert-error">
      {{error}}
    </div>
  {{/if}}

  <div class="where-is-my-friends-content">
    {{#if currentUser.location}}
      <div class="location-status">
        <div class="alert alert-success">
          <i class="fa fa-map-marker-alt"></i>
          {{i18n "where_is_my_friends.location_shared"}}
        </div>
        
        <div class="location-actions">
          <button class="btn btn-primary" {{action "findNearbyUsers"}}>
            <i class="fa fa-search"></i>
            {{i18n "where_is_my_friends.find_nearby"}}
          </button>
          
          <button class="btn btn-danger" {{action "removeLocation"}}>
            <i class="fa fa-trash"></i>
            {{i18n "where_is_my_friends.remove_location"}}
          </button>
        </div>
      </div>
    {{else}}
      <div class="location-setup">
        <div class="alert alert-info">
          <i class="fa fa-info-circle"></i>
          {{i18n "where_is_my_friends.share_location_prompt"}}
        </div>
        
        <button class="btn btn-primary btn-large" {{action "shareLocation"}}>
          <i class="fa fa-map-marker-alt"></i>
          {{i18n "where_is_my_friends.share_location"}}
        </button>
      </div>
    {{/if}}

    {{#if nearbyUsers}}
      <div class="nearby-users">
        <h3>{{i18n "where_is_my_friends.nearby_users"}} ({{nearbyUsers.length}})</h3>
        
        <div class="users-list">
          {{#each nearbyUsers as |userData|}}
            <div class="user-card">
              <div class="user-avatar">
                {{avatar userData.user imageSize="large"}}
              </div>
              <div class="user-info">
                <div class="username">
                  <a href="{{userData.user.path}}">{{userData.user.username}}</a>
                </div>
                <div class="distance">
                  <i class="fa fa-map-marker-alt"></i>
                  {{userData.distance}} km away
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</div> 