<div class="where-is-my-friends-container">
  <h1>附近的朋友</h1>
  <p>这是一个测试页面，如果你看到这个内容，说明路由工作正常！</p>
  
  <div class="location-controls">
    <button class="btn btn-primary" {{action "shareLocation"}}>
      分享我的位置
    </button>
    <button class="btn btn-danger" {{action "removeLocation"}}>
      移除我的位置
    </button>
  </div>

  <div class="nearby-users-content">
    <div class="distance-selector">
      <label for="distance">搜索距离:</label>
      <select id="distance" {{action "searchNearbyUsers" on="change"}}>
        <option value="1">1 km</option>
        <option value="5" selected>5 km</option>
        <option value="10">10 km</option>
        <option value="25">25 km</option>
        <option value="50">50 km</option>
      </select>
    </div>

    <div id="nearby-users-list">
      {{#if loading}}
        <div class="loading">
          加载中...
        </div>
      {{else if nearbyUsers.length}}
        {{#each nearbyUsers as |user|}}
          <div class="user-item">
            <img class="user-avatar" src="{{user.avatar_template}}" alt="{{user.username}}">
            <div class="user-info">
              <div class="username">{{user.username}}</div>
              <div class="name">{{user.name}}</div>
              <div class="distance">{{user.distance}} 公里</div>
            </div>
            <div class="last-seen">
              最后在线: {{format-date user.last_seen_at}}
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class="no-users">
          点击"分享我的位置"开始搜索附近的朋友
        </div>
      {{/if}}
    </div>
  </div>
</div> 